.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c0e3a;
  padding: 13px 20px;
}

.logo {
  height: 40px;
  width: 160px;
}

.timer-logo {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.score-section {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.timer-section {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.score {
  color: #fff;
}

.score-timer {
  color: #fec653;
  font-weight: 700;
}

@media all and (max-width: 576px) {
  .navbar {
    padding: 13px 15px;
  }
  .logo {
    width: 130px;
    height: 30px;
  }
  .timer-section {
    margin-left: 6px;
  }
  .score {
    margin-left: 10px;
  }
}

@media all and (min-width: 768px) {
  .score-timer {
    font-size: 25px;
  }
  .score {
    font-size: 25px;
  }
  .logo {
    width: 180px;
  }
}
