.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}

.display-image {
  margin-top: 60px;
  width: 100%;
}

.display-frame {
  display: flex;
  margin: 20px 0px;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  width: 24%;
  min-width: 240px;
}

.thumbnail {
  height: 100%;
  width: 100%;
}

.tabs-list {
  display: flex;
  margin: 20px 0px;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  width: 21%;
  min-width: 240px;
}

@media all and (min-width: 768px) {
  .tab-list {
    width: 24%;
  }
  .display-frame {
    width: 40%;
  }
}

.active-tab {
  text-decoration: underline;
  color: #fec653;
  text-underline-offset: 10px;
}

.options-section {
  padding-bottom: 30px;
}

.options-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
